.formulario_reserva{
    
    display:flex;
    justify-content:center;
    text-align: center;
}

form{
    display:flex;
    flex-direction: column;
    font-size: 24px;
    font-family: Habibi;
}

label{
    margin:12px;
}

#form_esp{
    display:flex;
    flex-direction:column;
}

#form_hab input{
    width: 54px;
    height: 40px;
}

#form_tipo select{
    width: 90px; 
    height: 30px;
    margin-left: 5px;
}

#form_esp textarea{
    justify-self: center;
    width: 700px;
    height:250px;
    margin-top: 5px;
}

#form_esp1 textarea{
    justify-self: center;
    margin-top: 5px;
    width: 400px;
    height:100px;
}

#form_submit{
    align-self:center;
    border: 1px solid black;
    margin-top: 20px;
    width: 97px;
    height: 40px;
    background-color: #503000;
    color: #FAF4EB;
    transition-duration: 0.4s;
}

#form_submit:hover{
    color: #000000;
	background: #F1D874;
	box-shadow: black;
}