.room_container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
}

.sin-background{
	position:relative;
}

.room_container ul{
    padding-left: 20px;
}

.cafeconf {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cafeconf_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1100px;
}

#id_cafeteria {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-family: Ibarra Real Nova;
	font-style: normal;
	font-weight: normal;
    font-size: 70px;
    text-align: center;
    width:100%;
    height:106px;
}

#id_cafeteria::before {
    content: "";
    position: absolute;
    background-image: url('../media/cafeteria.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 106px;
    opacity: 0.6;  
}


#id_confort {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-family: Ibarra Real Nova;
	font-style: normal;
	font-weight: normal;
    font-size: 70px;
    text-align: center;
    width:100%;
    height:106px;
}

#id_confort::before {
    content: "";
    position: absolute;
    background-image: url('../media/confort.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 106px;
    opacity: 0.6;  
}

.laundry_container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#id_lavanderia {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-family: Ibarra Real Nova;
	font-style: normal;
	font-weight: normal;
    font-size: 70px;
    text-align: center;
    width:1100px;
    height:106px;
}

#id_lavanderia::before{
    content: "";
    position: absolute;
    background-image: url('../media/lavanderia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 106px;
    opacity: 0.6; 
}

.otros_container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#id_otros{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-family: Ibarra Real Nova;
	font-style: normal;
	font-weight: normal;
    font-size: 70px;
    text-align: center;
    width:1100px;
    height:106px;
}

#id_otros::before{
    content: "";
    position: absolute;
    background-image: url('../media/otros.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 106px;
    opacity: 0.6;
}

#inputGrande {
    width: 700px;
    height: 200px;
    font-family: Ibarra Real Nova;
	font-style: normal;
	font-weight: normal;
    font-size: 20px;
    padding-left: 10px;
    text-align: start;
}

p {
    font-family: Ibarra Real Nova;
	font-style: normal;
	font-weight: normal;
    font-size: 22px;
}

ul {
    font-family: Ibarra Real Nova;
	font-style: normal;
	font-weight: normal;
    font-size: 22px;

}

.formulario {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.formularioSolicitud {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.otrosform {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.formulario_container{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 2% 0%;
    width: 400px;
}

.formularioGrande_container{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2% 0%;
    width: 800px;
}


div.formulario {
    display: flex;
    flex-direction: row;
    align-items: center;
}

select.formulario, input.formulario {
    text-align:center;
    font-family: Ibarra Real Nova;
	font-style: normal;
	font-weight: normal;
    font-size: 20px;
    color: gray; 
    width: 120px;
    margin-left: 5px;   
}

.send_button{
    width: 400px;
    padding:auto;
    padding-top:0.5%;
    padding-bottom:0.5%;
    font-family: Ibarra Real Nova;
	font-style: normal;
	font-weight: normal;
    font-size: 22px;
    background-color: #503000;
    color: #FAF4EB;
    cursor:pointer;
    outline:none;
    transition-duration: 0.4s;
}

#select{
    font-family: Ibarra Real Nova;
    font-size: 22px;
    margin-left: 10px;
}

