
.raya_titulo{
    color:gray;
    width: 70%;
    border: 2px solid;
}

.map{
    width: 400px;
    height: 300px;
    position: relative;
}

.category{
    text-align:center;
    color: #503000;
    margin-top: 84px;
    text-decoration: underline;
}

#reseras_general_transporte{
    width:100%;
    display: flex;
    justify-content:center;
    margin: 40px;
}

#reservas_hechas{
    display:flex;
    justify-content: center;
    align-items:center;
    margin:4px;
}

#mis_reservas{
    width: 400px;
}

.reserva_transporte{
    padding:8px;
    border: solid 1px;
    margin-bottom:10px;
}

