#container{ 
    display: flex;
    justify-content: center;
}

#imagen_reserva {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;  
    border: none;
    background-image: url('../media/reserva.png');
    background-size: cover;
    height:400px;
    width: 800px; 
}
#text_foto_top {
    font-family: Ibarra Real Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
    margin: 40px 150px;
    color:antiquewhite;
}

#reservar_container{
    width: 300px;
    height: 100px;
    border-radius: 50%;
    background: rgb(119, 45, 45);
    text-decoration: none;
}

#span_butt {
    font-family: Ibarra Real Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 37px;
	text-align: center;
    color:black;
}

#reservar_container:hover{
    transform: scale(1.2);
	transition: 1.5s;
}

/* Hasta aqui comprobado */

.booking_container{
    margin: auto;
    margin-bottom: 2%;
    width: 50%;
    padding: 2%;
    padding-bottom: 0%;
    border: solid 1px;

    }

.booking_smallcontainer{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2%;  
    
}

.booking_buttonscontainer{
    
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    
}
.booking_buttons{
    margin-left: 10%;
    margin-right: -5%;
    width: 300px;
    padding: 5px;
    font-family: Ibarra Real Nova;
	font-style: normal;
	font-weight: normal;
    font-size: 18px;
    background-color: #503000;
    color: #FAF4EB;
    cursor:pointer;
    
    outline:none;
}

p {
    font-family: Ibarra Real Nova;
	font-style: normal;
	font-weight: normal;
    font-size: 17px;
}
