body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  zoom: 100%;
}

@media (max-width: 1277px) {
  body {
    zoom:80%;
  }
}

@media (max-width: 1029px) {
  body {
    zoom:70%;
  }
}

@media (max-width: 904px) {
  body {
    zoom:60%;
  }
}


@media (max-width: 775px) {
  body {
    zoom:50%;
  }
}

@media (max-width: 648px) {
  body {
    zoom:40%;
  }
}


@media (max-width: 522px) {
  body {
    zoom:30%;
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
